<div class="btn-group" role="group">
  <button type="button" class="btn btn-primary" routerLinkActive="active" [routerLink]="['servicios-home']">Servicios</button>
  <button type="button" class="btn btn-primary" routerLinkActive="active" [routerLink]="['cafeteria']">Cafetería</button>
  <button type="button" class="btn btn-primary" routerLinkActive="active" [routerLink]="['reprog']">Reprog</button>
  <button type="button" class="btn btn-primary" routerLinkActive="active" [routerLink]="['secretaria']">Secretaría</button>
</div>

<!--Controlar la vista de los datos generales con if-->
<router-outlet></router-outlet>
